<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>stepmerrily</title>
    <link href='/css/reset.css' rel='stylesheet' />
    <link href='/css/stepmerrily.css' rel='stylesheet' />
 


  </head>
  <body>
    <div class="container"> 
      <a href='https://www.instagram.com/{{instagramId}}' target="_blank" class="icon-wrapper">
        <img src='/assets/icon/instagram.png' class="instagram-icon"/>
        <span style='margin-top:10px; font-size:12px;'>@{{instagramId}}</span>
      </a>
     
      <div class='accordion'> 
        <div class='accordion-item'>
          <button class='accordion-header'>1화
            <span class='arrow'>▼</span></button>
          <div class='accordion-content'>
            <img src='/assets/toons/toon_1.jpg' class="toon">
          </div>
        </div>
        <div class='accordion-item'>
          <button class='accordion-header'>2화 <span class='arrow'>▼</span></button>
          <div class='accordion-content'>
            <img src='/assets/toons/toon_2.jpg' class="toon">
          </div>
        </div>
        <div class='accordion-item'>
          <button class='accordion-header'>3화 <span class='arrow'>▼</span></button>
          <div class='accordion-content'>
            <img src='/assets/toons/toon_3.jpg' class="toon">
          </div>
        </div>
        <div class='accordion-item'>
          <button class='accordion-header'>4화 <span class='arrow'>▼</span></button>
          <div class='accordion-content'>
             <img src='/assets/toons/toon_4.jpg' class="toon">
          </div>
        </div>
        <div class='accordion-item'>
          <button class='accordion-header'>5화 <span class='arrow'>▼</span></button>
          <div class='accordion-content'>
             <img src='/assets/toons/toon_5.jpg' class="toon">
          </div>
        </div>
        <div class='accordion-item'>
          <button class='accordion-header'>6화 <span class='arrow'>▼</span></button>
          <div class='accordion-content'>
           <img src='/assets/toons/toon_6.jpg' class="toon">
          </div>
        </div>
    </div>
    <script src='/script/stepmerrily.js'> </script>
  </body>

</html>