<div style='display: flex; justify-content: center; align-items: center; height: 100vh;'>
  <input type='file' id='fileInput' />
  <button id='uploadButton'>파일 업로드</button>
</div>

<script>
  document.getElementById('uploadButton').addEventListener('click', async () => { 
  const fileInput = document.getElementById('fileInput'); 
  
  if (fileInput.files.length === 0) { 
    alert('파일을 선택해 주세요.');
    return; 
  }
  const formData = new FormData(); 
  formData.append('file', fileInput.files[0]); 
  formData.append('token', '{{token}}');
  try { 
    const response = await fetch('/nowplayingman/upload', { method: 'POST', body: formData, });
    if (response.ok) {
      console.log('upload success');
    } else {
      const errorMessage = await response.text();
      console.error('upload failed:', errorMessage);
    }
  } catch (error) {
      console.error('network error:', error);
    }
  });
</script>
